.about {
  padding-top: 50px;
  &__title{
    font-weight: 400;
    width: 50%;
    font-family: "NeuzeitGrotesk", sans-serif;
    color: #ea5823;
    font-size: 2.5rem;
    padding: 30px;
    border: 3px solid #ea5823;
    svg {
      fill: #ea5823;
      height: 35px;
      width: 35px;
      margin-right: 5px;
    }
  }

  &-info{
    position: relative;
    display: flex;
    justify-content: flex-start;
    &__text{
      width: 350px;
      padding-left: 35px;
      margin-right: 50px;
      p{
        padding-top: 40px;
      }
    }
    &__image{
      width: 350px;
      height: 500px;
      padding-top: 40px;
    }
  }
}

@media screen and (max-width : 480px) {

  .about{
    padding: 110px 0 20px;

    &-info{
      flex-wrap: wrap;
      &__text{
        padding-left: 5px;
      }
      &__image{
        padding-top: 20px;
        height: auto;
      }
    }
  }

  .about__title{
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    & svg {
      height: 27px;
    }
  }
}